body{
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.1);
    font-family: 'Titillium Web', sans-serif;
}

/* ------------ container ------------ */
.container{
    padding:70px;
    width:380px;
    margin:0 auto;
}

.header{
    width: 380px;
    height:200px;
    background-image: url(./img/bg.jpg);
    background-repeat: no-repeat;
    border-radius: 15px 15px 0px 0px;
    position: relative;
}

.clear{
    width : 30px;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 20px;
}

.clear i{
    font-size: 20px;
    color: #FFF;
}

.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
    transition-duration: 0.25s;
}

#date{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FFF;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
}

/* ------------ content ------------ */
.content{
    width:380px;
    height: 350px;
    max-height:350px;
    background-color: #FFF;
    overflow: auto;
    border-radius: 0px 0px 15px 15px;
}
.content::-webkit-scrollbar { 
    display: none; 
}
.content ul{
    padding:0;
    margin:0;
}
.item{
    width:380px;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}
.item i.complete{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
}
.item i.complete:hover{
    cursor: pointer;
    color: #6eb200;
    transition-duration: 0.2s;
}
.fa-check-circle{
    color:#6eb200;
}
.item p.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 20px;
    left:60px;
    top:10px;
    background-color: #FFF;
    max-width:285px;
}
.lineThrough{
    text-decoration: line-through;
    color : #ccc;
}

.item i.edit{
    position: absolute;
    font-size: 25px;
    right:42px;
    top:10px;
}

.item i.edit:hover{
   cursor: pointer;
   color: #4162f6;
   transition-duration: 0.2s;
}

.item i.delete{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
}
.item i.delete:hover{
    color:#af0000;
    cursor: pointer;
    transition-duration: 0.2s;
}

/* ------------ add item ------------ */

.add-item{
    position: relative;
    width: 360px;
    height:40px;
    background-color:#FFF;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.add-item i{
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    font-size: 25px;
    color: #4162f6;
}

.add-item input{
    position: absolute;
    left: 50px;
    height: 45px;
    width: 310px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left:10px;
    outline: none;
}
.add-item input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}




